.Crew{
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  //align-items:center;
  margin: 30px 0;
 height: 100vh;
  .Crew-header{
    flex: 0 0 auto;
    &>h1{
      margin-bottom: 50px;
      font-family: "Arial Black";
    }
  }
  .drag_things_to_boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-height: 700px;
    flex: 1 0 auto;
    //height: 100%;
    .box{
      background: #eeeeee;
      width: 240px;
      border: 3px solid #bdc3c7;
      overflow: hidden;
      z-index: 88;
      border-radius: 20px 20px 10px 10px;
      box-shadow: 2px 1px 0 rgb(0 0 0 / 44%);
      .box-title{
        border-bottom-left-radius: 74px;
        border-bottom-right-radius: 74px;
        //box-shadow: 11px 13px 31px 12px rgba(36, 47, 54, 0.31);
        //overflow: hidden;
        width: 100%;
        height: 50px;
        //color: #005577;
        background: #C9D6DF;
        border-bottom: 3px solid black;
        margin-bottom: 10px;
        font-size: 20px;
        display: flex;
        color: #0d0d0de3;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        box-shadow: 2px 1px 0 rgb(0 0 0 / 44%);
      }
      .BoxItem{
        font-family: Inter,sans-serif;
        box-shadow: 2px 1px 0 rgb(0 0 0 / 44%);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: flex-start;
        z-index: 99;
        background: #bdc3c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #ffffff;
        //text-align: center;
        cursor: grab;
        margin: 7px 5px 7px 5px;
        position: relative;
        border: 2px solid   #2c3e50;
        border-radius: 3px;
        //align-items: flex-start;
        padding: 2px 5px;
        list-style-type: none;
        .BoxItem_shipment{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          &>li{
            display: flex;
            justify-content: space-between;
            padding: 5px 2px;
            font-weight: 600;
            //&>label{
            //  font-size: 18px;
            //  padding: 5px 0;
            //}
            //&>span{
            //  font-size: 16px;
            //}
          }
        }
        .BoxDrag{
          width: 100%;
          box-sizing: border-box;
          display: flex;
          //flex-wrap: wrap;
          flex-direction: column;
         //align-items: flex-start;
         // padding: 3px 2px;
          //padding: 30px;
          //align-items: center;
          &>li{
            display: flex;
            justify-content: space-between;
            padding: 3px 2px;
            &>span{
              margin: 3px 2px;
              font-size: 15px;
              font-weight: bold;
            }
          }
        }

      }
    }

    .drag-result{
      background: #eeeeee;
      margin: 0 20px;
      width: 200px;
      border: 3px solid #bdc3c7;
      overflow: hidden;
      z-index: 88;
      border-radius: 20px 20px 10px 10px;
      box-shadow: 2px 1px 0 rgb(0 0 0 / 44%);
      max-height: 100%;
      .drag-container{
        height: 100%;
        .header {
          border-bottom-left-radius: 74px;
          border-bottom-right-radius: 74px;
          //box-shadow: 11px 13px 31px 12px rgba(36, 47, 54, 0.31);
          //overflow: hidden;
          width: 100%;
          height: 50px;
          //color: #005577;
          background: #C9D6DF;
          border-bottom: 3px solid black;
          margin-bottom: 10px;
          font-size: 20px;
          display: flex;
          color: #0d0d0de3;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          box-shadow: 2px 1px 0 rgb(0 0 0 / 44%);
        }
        .content{
          display: flex;
          flex-direction: column;
          min-height: 250px;
          gap: 20px;

          .content_router{
            display: flex;
            justify-content: center;
            .box_router{
              width: 90%;
              min-height: 150px;
              border: 2px dashed  black;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              .BoxItem{
                font-family: Inter,sans-serif;
                box-shadow: 2px 1px 0 rgb(0 0 0 / 44%);
                display: flex;
                flex-direction: column;
                overflow: hidden;
                justify-content: center;
                z-index: 99;
                background: #bdc3c7;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: #ffffff;
                text-align: center;
                cursor: grab;
                position: relative;
                border: 2px solid   #2c3e50;
                border-radius: 3px;
                width: 100%;
                height: 100%;
                .BoxDrag {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                }
              }
              .box-router_preload{
                margin: 0;
                .box-router_title{
                  margin: 0;
                  color: rgba(0, 0, 0, 0.54);
                }
              }

            }
          }
          .content_crew{
            flex: 1;
            display: flex;
            justify-content: center;
            .box_crew{
              width: 90%;
              min-height: 150px;
              border: 2px dashed  black;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              .BoxItem{
                font-family: Inter,sans-serif;
                box-shadow: 2px 1px 0 rgb(0 0 0 / 44%);
                display: flex;
                flex-direction: column;
                overflow: hidden;
                z-index: 99;
                background: #bdc3c7;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: #ffffff;
                text-align: center;
                cursor: grab;
                position: relative;
                border: 2px solid   #2c3e50;
                border-radius: 3px;
                width: 100%;
                height: 100%;
                .BoxDrag {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;


                }
              }
              .box-router_preload{
                .box-router_title{
                  margin: 0;
                  color: rgba(0, 0, 0, 0.54);
                }
              }
            }
          }
        }
      }
    }
  }
  .Crew-footer{
    display: flex;
    width: 100%;
    height: 80px;
    //margin-top: 80px;
    justify-content: space-around;
    //flex: 0 0 auto;
    margin-top: auto;
    &>Button{
      width: 300px;
    }
  }


  .Active-route{
    position: absolute;
    background: #C9D6DF;
    top: 0;
    right: -1530px;
    width: 200px;
    height: 150px;
    opacity: 1;

  }

}