.SideBarRight{
  z-index: 99;
  box-sizing: border-box;
  padding: 0 5px;
  position: absolute;
  right: 0;
  top: 85px;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  width: 255px;
  min-height: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgb(10 30 50 / 10%), 0 1px 2px 0 rgb(10 30 50 / 15%);
  transition: ease-in-out 0.6s;
  //transform: translateX(-100%);
  opacity: 0.42;
  &:hover{
    opacity: 0.9;
  }
  &>h1{
    font-size: 24px;
    font-weight: bold;
  }
  .SideBarRight__item{
    z-index: 99;
    overflow: hidden;
    //background-color: #f2f3f4;
    cursor: pointer;
    //padding: 6px 10px 8px;
    align-items: center;
    width: 100%;
    display: flex;
    margin: 5px 0;
    justify-content: center;
    padding: 2px 2px;
    gap: 30px;

    &>span{
      //margin-left: 30px;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 20px;
    }
    &:first-child{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:hover:before{
      background: #000;
      bottom: 0;
      content: "";
      display: block;
      left: -20px;
      position: absolute;
      top: 0;
      width: 3px;
    }
  }
}