.Map-container {
  display: flex;
  flex-direction: column;
  //margin-top: 50px;
  //justify-content: center;
  //padding: 10px;
  .Map-content {
    display: flex;

    .Map-option {
      width: 300px;
      min-height: 500px;
      background-color: #fff;
      box-shadow: 0 2px 2px #000;
      gap: 20px;
      flex: 1;
    }

    .Map {
      margin-left: 15px;
      flex: 3;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: space-around;
      z-index: 70;

      .car__icon {
        //border-radius: 50%;

      }

      .popup-info {
        display: flex;
        justify-content: space-around;
        //align-items: center;
        gap: 20px;

        .popup-info__car {
          display: flex;
          flex-direction: column;
          flex: 1;

          & > img {
            width: 150px;
            height: 70px;
            border-radius: 20px;
            margin: 5px 0;
          }
        }

        .popup-info__driver {
          flex: 1;
        }
      }
    }

    .drag_things_to_boxes {
      width: 100%;
      display: flex;
      justify-content: space-around;


    }



    .drag_things_to_boxes .highlighted .box {
      box-shadow: inset 0 0 4px #00f;
    }

    .drag_things_to_boxes .box .BoxItem .outer {
      border-top: none;
      min-width: 140px;
      max-width: 140px;
      overflow: hidden;
    }

    .drag_things_to_boxes .box .BoxItem .highlighted .outer {
      border-top: 40px solid #ddd;
    }

    .drag_things_to_boxes .box .BoxItem .item {
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: 3px;
      background-color: #005577;
    }

    .drag_things_to_boxes .box .BoxItem .grabber {
      font-size: 14px;
      font-weight: bold;
      padding-right: 6px;
    }
  }
  .polyline{
    color: #9DD579;
  }
}
